*{
  margin: 0;       
  padding: 0;       
  box-sizing: border-box
}

#student-container{
    padding: 30px;
    background-color: aquamarine;
    border: 3px solid mediumturquoise;
    border-radius: 25px;
    height: 200px;
}
p{
    font-size: 15px;
    padding-bottom: 15px;
    
}

#courses-container{
    padding: 30px;
    background-color: violet;
    border: 3px solid purple;
    border-radius: 25px;
    height: 190px;
}

button{
    margin: 15px;
    padding: 20px;
}